@font-face{
font-family: "principal";
src: url("../fuentes/CENSCBK.TTF")
format('truetype')
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
	background: #cfd9de;
	font-family: 'Montserrat', sans-serif;
}

header{
	font-family: "principal";
}

#titulo{
	text-align: center;
}
#titulo:hover{
	background-color: white;
}

.subtitulo{
	text-align: center;
}
.subtitulo:hover{
	background-color: crimson;
}

p:hover{
	background: white;
}

ul:hover{
	background-color: white;
}

ol:hover{
	background-color: crimson;
}

.foto{
	display:block;
	margin:auto;
}

.foto:hover{
	transition: all .5s;
	filter: saturate(180%);
}

.wicon{
position:fixed;
bottom:0;
right:0;
width:5vw;
top: 90%;
}

a:hover{
	color:hotpink;
	text-decoration:underline;
	background-color:lightgreen;
}

header{
	font-size: 18px;
	font-weight: 400;
	background: #889ccf;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 5%;
	box-sizing: border-box;
}


